<!doctype html>
<html>
<head>
  {% block head %} {# if head needs to be overriden, otherwise ignore #}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <style>
    .active a{
      color: dodgerblue !important;
    }
  </style>
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>

  {# if any additions to header needed #}
  {% block head2 %}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="home.html">LOL Database</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Summoners Rift</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Teamfight Tactics</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" style="width:210px" placeholder="Enter Summoner Name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- child template -->
  {% block content %}
  {% endblock %}
</body>
</html>

