{% extends "profile.html" %}
{% block content %}
<a href="/analyzeTft?summonerName={{summoner_name}}">Analyze TFT Match History</a>
{% block analysis %}
{% endblock %}
<table style="border-collapse:collapse;border: 1px solid black;">
  <tr style="border-collapse:collapse;border: 1px solid black;">
    <td style="border-collapse:collapse;border: 1px solid black;">Result</td>
    <td style="border-collapse:collapse;border: 1px solid black;">Gold</td>
    <td style="border-collapse:collapse;border: 1px solid black;">CS</td>
    <td style="border-collapse:collapse;border: 1px solid black;">Champion</td>
    <td style="border-collapse:collapse;border: 1px solid black;">Date</td>
  </tr>
  {% for n in data %}
  <tr style="border-collapse:collapse;border: 1px solid black;">
    <td style="border-collapse:collapse;border: 1px solid black;">{{n.win}}</td>
    <td style="border-collapse:collapse;border: 1px solid black;">{{n.champion_id}}</td>
    <td style="border-collapse:collapse;border: 1px solid black;">{{n.gold_earned}}</td>
    <td style="border-collapse:collapse;border: 1px solid black;">{{n.cs}}</td>
    <td style="border-collapse:collapse;border: 1px solid black;">{{n.game_datetime}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}